.DS_store
IDEAS.md
lecture0.ipynb

README.yandex_cloud.md
oral_exam_questions.md



*.old
lectures/*.key
lectures/*.pdf
!lectures/lecture01_intro+navigation.pdf

lectures/*.pptx

seminars/*zip
seminars/data
seminars/*.ipynb
!seminars/seminar01_Python_Crash_Course.ipynb


homeworks/misc.ipynb
homeworks/*zip
homeworks/*.ipynb
!homeworks/HW1.ipynb

data/seminar08/MPF.2021.2.8.cleaned.sample.xyz

