.DS_store
IDEAS.md
homeworks/hw1_solved.ipynb
lecture0.ipynb
seminar1.ipynb
#lectures
lectures/lecture1/marp_tutorial.md
lectures/lecture1/trial_and_error.txt
#lectures/lecture2
lectures/lecture3
lectures/lecture4

seminars